<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Story 1 - M. Irfan Junaidi</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        {% include '_navbar.html' %}
        <div class="index">
            <div class="home" id="home">
                <h3>Hi!</h3>
            </div>
            <div class="about hide" id="about">
                <div class="a-left">
                    <div class="border">
                        <h1>About</h1>
                        <h1>Me</h1>
                    </div>
                    <img src="static/me.png" alt="Me">
                </div>
                <div class="a-right">
                    <p>My name is Irfan and i'm a Computer Science Student in University of Indonesia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non odio quam. Nunc ut turpis posuere, eleifend risus sollicitudin, ultrices nisl. Ut laoreet iaculis ante, vel auctor justo volutpat sit amet. Ut sagittis, velit sed pharetra commodo, magna libero rhoncus risus, ut efficitur urna tellus a lectus.</p>
                </div>
            </div>
            <div class="profile hide" id="profile">
                <h1>Profile</h1>
                <div class="p-table">
                    <table>
                        <tr>
                            <th>Full Name</th>
                            <th>NPM</th>
                            <th>Education</th>
                        </tr>
                        <tr>
                            <td>Muhammad Irfan Junaidi</td>
                            <td>1906293202</td>
                            <td rowspan="3">
                                <ul>
                                    <li>SMA Negeri 38 Jakarta</li>
                                    <li>SMP Citra Alam</li>
                                    <li>SD Citra Alam</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Class of</th>
                            <th>Hobby</th>
                        </tr>
                        <tr>
                            <td>2019</td>
                            <td>
                                <ul>
                                    <li>Coding</li>
                                    <li>Gaming</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="{% static 'home.js' %}"></script>
    </body>
</html>