body{
    margin: 0;
    display: block;
    font-family: 'Nunito', sans-serif;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
}
#navbar a:hover {
    color: rgb(56, 174, 220);
}
#navbar ul {
    list-style-type: none;
    height: 100px;
    margin: 0;
    padding: 0 37px 0 30px;
    overflow: hidden;
    background-color: white;
}
#navbar li {
    float: right;
}
#navbar li a {
    display: block;
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: larger;
    font-weight: 700;
    padding: 38px 30px;
    text-decoration: none;
}
#navbar #irfancen {
    float: left;
}
#navbar .links {
    display: table;
    margin: 0 auto;
    padding-left: 150px;
}
#navbar .social li a {
    padding: 36px 16px;
}
#navbar .social li a img{
    width: 24px;
}